<h1>Listing rants</h1>

<table>
  <tr>
    <th>User</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rants.each do |rant| %>
  <tr>
    <td><%= rant.user_id %></td>
    <td><%= rant.message %></td>
    <td><%= link_to 'Show', rant %></td>
    <td><%= link_to 'Edit', edit_rant_path(rant) %></td>
    <td><%= link_to 'Destroy', rant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rant', new_rant_path %>
